/*------------ HEADER -----------*/
.carousel-caption h1{
  font-size: 4em;
  font-family: 'Trade Winds', cursive;
}

/*--------- MAIN --------------*/
#access-js-finalproj-game {
  margin-left: 40%;
  background color: brown;
  padding: 2vh;
}
#access-js-finalproj-game:hover {
  background color: black;
  font-weight: bold;
}
#access-js-finalproj-game > a {
  color: green;
  text-decoration: none;
}
#access-js-finalproj-game > a:hover {
  color: red;
  border-radius: 4vh;
  font-weight: bold;
}

main {
  background-color: grey;
}

h3 {
  text-align: center;
}
.iframe{
  margin-left: 10%;
}

canvas{
  margin-left: 30%;
  margin-top: 5%;
  margin-bottom: 5%;
  background-image: url(https://zupimages.net/up/20/10/ds16.jpg);
}


/*--------------FOOTER------------ */
#sticky-footer {
  background-color: black;
  padding: 4px 0px 4px 0px;
}
.text-center{
  padding-left: 35%;
}
